/* ----------------------------------- IMPORTING FONTS -----------------------------------  */
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");

@font-face {
  font-family: headings;
  src: url(font/harry_p/HARRYP__.TTF);
}

@import url("https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");
/* FONT, SIZES AND COLOR PALETTE ROOT */

:root {
  --primary-color: #a34937;
  --secondary-color: #d6b975;
  --terciary-color: #ecdfbf;
  --forth-color: #123263;
  --font-primary: "Charm", cursive;
  --font-secondary: "Old Standard TT", serif;
  --Gryffindor-main-color: #bb1b25;
  --Gryffindor-border-color: #eac459;
  --Slytherin-main-color: #545375;
  --Slytherin-border-color: #45857c;
  --Ravenclaw-main-color: #31568e;
  --Ravenclaw-border-color: #c3deef;
  --Hufflepuff-main-color: #3b4552;
  --Hufflepuff-border-color: #fdef97;
}

/* ----------------------------------- GENERAL SETTINGS -----------------------------------  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-image: url(img/bg.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em 15em;
  font-family: var(--font-secondary);
}

header h1 {
  font-family: headings;
  font-size: 4.5em;
  color: var(--secondary-color);
  font-weight: 100;
}

header p {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.hidden {
  display: none;
  visibility: hidden;
}

/* ----------------------------------- SEARCH, FILTERING & SORTING -----------------------------------  */

.mainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainWrapper .displayOptions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5em 16em 40px 15em;
}

#searchBar {
  padding: 0.6em;
  padding-left: 1em;
  border: 1px solid var(--primary-color);
  font-family: var(--font-secondary);
  font-size: 1em;
}

.filter {
  font-size: 1.2em;
  color: var(--primary-color);
  border: none;
  margin-right: 0.5em;
  background: none;
  font-family: var(--font-secondary);
  display: flex;
  justify-content: center;
}

.filter1,
.filter2,
.filter3,
.filter4 {
  display: flex;
  flex-direction: column;
  padding: 0 0.3em;
  justify-content: center;
}

select {
  font-size: 1.2em;
  padding: 0.5em;
  font-family: var(--font-secondary);
  border: none;
  color: var(--primary-color);
  background: none;
  border-bottom: 1px solid var(--primary-color);
}

label {
  font-size: 1.2em;
  font-weight: 700;
}

#sortBy {
  font-size: 1em;
  padding: 0.5em;
  font-family: var(--font-secondary);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

/* ----------------------------------- STUDENT DISPLAY LIST  & NUMBERS DISPLAY -----------------------------------  */

.displayNumbers {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 2em 0 -2em 0;
}

.displayNumbers .line1,
.displayNumbers .line2 {
  display: flex;
  font-family: var(--font-secondary);
  color: var(--primary-color);
  text-transform: uppercase;
}

.displayNumbers .line2 p {
  margin-left: 1em;
}

.displayNumbers .line1 span,
.displayNumbers .line2 span {
  font-size: 1.4em;
}

.listWrapper {
  width: 100%;
}

#studentList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(208px, 332px));
  gap: 2rem;
  margin: 0 15em;
}

article.student {
  /* box-shadow: 0 10px 20px rgba(71, 49, 49, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
  padding: 2rem;
  border-radius: 2%;
  margin: 3rem 0;
  text-align: center;
  background-color: var(--forth-color);
  position: relative;

  font-size: 1.5em;
}

article.student p {
  color: white;
  font-family: var(--font-primary);
}

article.student:hover {
  transform: scale(1.08);
  transition: 0.3s ease-in-out;
}

article.student .lastname {
  font-weight: 900;
}

.faces {
  width: 150px;
  height: 150px;
}

.nofaces {
  width: 150px;
  height: 150px;
  background-image: url(img/nofaces.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.house-crest {
  position: absolute;
  right: 20%;
  bottom: 37%;
}

.house-crest img {
  width: 70px;
}

/* ----------------------------------- POP UP -----------------------------------  */

.popUpWrapper {
  background-color: rgba(17, 41, 80, 0.649);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoPopUp {
  background-color: rgb(255, 255, 255);
  width: 40%;
  padding: 3em 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.crestPopUp {
  position: absolute;
  bottom: 38%;
  left: 38%;
}

.crestPopUp img {
  width: 95px;
}

.namePopUp {
  text-align: center;
}

.actions {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.facesPopUp {
  width: 200px;
  height: 200px;
}

.personalInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* ----------------------------------- POP UP FEEDBACK -----------------------------------  */

.inquisitor,
.prefect {
  font-family: var(--font-secondary);
  font-size: 3em;
  padding: 0.4em;
  border: none;
}

div[data-field="prefect"]::after {
  font-size: 3em;
  content: "🏆";
}

div[data-field="prefect"][data-prefect="false"]::after {
  font-size: 3em;
  content: "🏆";
  filter: grayscale();
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  box-shadow: 1px 1px 10px #333;
  border-radius: 12px;
  padding: 2em;
  background-color: #eee;
  position: relative;
}

button.closebutton {
  position: absolute;
  right: -1em;
  top: -1em;
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

.dialog h1 {
  margin-top: 0;
}

#close {
  position: absolute;
  top: 0;
  right: 0;
  font-family: var(--font-secondary);
  background-color: var(--primary-color);
  color: white;
  font-size: 1.4em;
  padding: 1em;
}
